*{
    font-family: Arial, sans-serif;
    margin: 0%;
}

bodiy {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
